.App-header .DeathPlayer {
    position: absolute;
    top: 50px;
    width: 50px;
    opacity: 0;
    animation: DeathPlayerEffect 0.5s ease 0s 14 alternate;
    /*
    animation-name: DeathPlayerEffect;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 14;
    */
}

@keyframes DeathPlayerEffect{
/* from에 처음 스타일, to에 마지막 스타일 정의 */
0% {  opacity: 1; }
50% { opacity: 1; transform:matrix(1, 0, 0, 1, 0, 50px); }
100% { opacity: 0; top: 100px;}
}


.App-header .TeleportEnterPlayer {
    position: absolute;
    height: 20px;
    top: 150px;
    opacity: 0.1;
    transition: all 2s;
}
.App-header .TeleportEnterPlayer:hover{
    height: 100px;
    top: 110px;
    opacity: 1;
    transform:rotate(1080deg);
}
  